@model Person



<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> @(Model.Id != 0 ? "Update" : "Create") Person</h2>
            </div>
        </div>
    </div>



    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Id" hidden />

            <div class="row">
                <div class="col-10">
                    <div class="border p-3">

                        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                        <div class="form-floating py-2 col-12">



                            <div class="form-floating py-2 col-12">
                                <input asp-for="Name" class="form-control border-0 shadow" />
                                <label asp-for="Name" class="ms-2"></label>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-floating py-2 col-12">
                                <input asp-for="ContactInfo" class="form-control border-0 shadow" />
                                <label asp-for="ContactInfo" class="ms-2"></label>
                                <span asp-validation-for="ContactInfo" class="text-danger"></span>
                            </div>
                            <div class="form-floating py-2 col-12">
                                <input asp-for="OrcId" class="form-control border-0 shadow" />
                                <label asp-for="OrcId" class="ms-2"></label>
                                <span asp-validation-for="OrcId" class="text-danger"></span>
                            </div>

                            <div class="form-floating py-2 col-12">
                                <input asp-for="Created_By" class="form-control border-0 shadow" />
                                <label asp-for="Created_By" class="ms-2"></label>
                                <span asp-validation-for="Created_By" class="text-danger"></span>
                            </div>


                            <div class="form-floating py-2 col-12">
                                <input asp-for="Updated_By" class="form-control border-0 shadow" />
                                <label asp-for="Updated_By" class="ms-2"></label>
                                <span asp-validation-for="Updated_By" class="text-danger"></span>
                            </div>

                            <div class="py-2 col-12">
                                <label asp-for="Notes" class="ms-2 text-muted"></label>
                                <textarea asp-for="Notes" class="form-control border-0 shadow"></textarea>
                            </div>

                            <div class="form-floating py-2 col-12">
                                <input asp-for="Created_Date" class="form-control border-0 shadow" readonly="readonly" />
                                <label asp-for="Created_Date" class="ms-2"></label>
                                <span asp-validation-for="Created_Date" class="text-danger"></span>
                            </div>

                            <div class="form-floating py-2 col-12">
                                <input asp-for="Updated_Date" class="form-control border-0 shadow" readonly="readonly" />
                                <label asp-for="Updated_Date" class="ms-2"></label>
                                <span asp-validation-for="Updated_Date" class="text-danger"></span>
                            </div>



                            <div class="row pt-2">
                                <div class="col-6 col-md-3">
                                    @if (Model.Id != 0)
                                    {
                                        <button type="submit" class="btn btn-primary form-control">Update</button>
                                    }   
                                    else
                                    {
                                        <button type="submit" class="btn btn-primary form-control">Create</button>
                                    }
                                 </div>
                                <div class="col-6 col-md-3">
                                    <a asp-controller="Person" asp-action="Index" class="btn btn-outline-primary border  form-control">
                                        Back to List
                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
             </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
