@* @model RGO.Models.Models.CSVUpload
 *@@{
    ViewData["Title"] = "Upload Results";
}
<h1>@ViewData["Title"]</h1>

<p>Upload your completed R-GO form for use in future research.</p>
<form method="post" class="row" enctype="multipart/form-data">
    <input type="file" id="csv_picker" name="csv_picker" accept=".csv,.xlsx" style="margin-bottom:8px;"/>
    <button type="submit" class="btn btn-primary">Upload Results</button>
</form>