@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="/images/jason-argonauts-argo.jpg" />
    <p>RGO supports the capture & re-use of Ground Truth data</p>
    <p>Find out more <a href ="https://github.com/HicServices/RGO">Here</a></p>
</div>
