@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://www.greekmyths-greekmythology.com/wp-content/uploads/2010/05/jason-argonauts-argo.jpg" />
    <p>In Greek Mythiology, The Argonauts where the crew that assisted Jason in navigating the Black Sea and return with a golden Fleece.</p>
    <p>RGO supports the capture & re-use of Ground Truth data</p>
    <p>Find out more <a href ="https://github.com/HicServices/RGO">Here</a></p>
</div>
