@model GroupVM


<h1>@(Model.Group.Id!=0?"Update":"Create") Group</h1>

<h4>Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Upsert">
            <input asp-for="Group.Id" hidden />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Group.Group_TypeId" class="control-label"></label>
                <select asp-for="Group.Group_TypeId" class="form-control" asp-items="@Model.Group_TypeList">
                    <option disabled selected>--Select Category--</option>
                </select>

                <span asp-validation-for="Group.Group_TypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.Name" class="control-label"></label>
                <input asp-for="Group.Name" class="form-control" />
                <span asp-validation-for="Group.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.ContactInfo" class="control-label"></label>
                <input asp-for="Group.ContactInfo" class="form-control" />
                <span asp-validation-for="Group.ContactInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.Created_By" class="control-label"></label>
                <input asp-for="Group.Created_By" class="form-control" />
                <span asp-validation-for="Group.Created_By" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.Created_Date" class="control-label"></label>
                <input asp-for="Group.Created_Date" class="form-control" />
                <span asp-validation-for="Group.Created_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.Updated_By" class="control-label"></label>
                <input asp-for="Group.Updated_By" class="form-control" />
                <span asp-validation-for="Group.Updated_By" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.Updated_Date" class="control-label"></label>
                <input asp-for="Group.Updated_Date" class="form-control" />
                <span asp-validation-for="Group.Updated_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.Notes" class="control-label"></label>
                <input asp-for="Group.Notes" class="form-control" />
                <span asp-validation-for="Group.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (Model.Group.Id != 0)
                {
                    <button type="submit" class="btn btn-primary form-control">Update</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary form-control">Create</button>
                }
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
